[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
plotly-express = "*"
plotly = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.12"
